/* ############## MOBILE DISPLAY ############## */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#mainContainer {
    position: relative;
    width: 100%;
    height: 100vh;
}

.hidden {
    display: none;
    transform: translateX(-110%);
}

.show {
    transform: translateX(0);
}

/* ========== Brand ========== */
#brandBar {
    width: 100%;
    height: 50px;
    background-color: #63585E;
    position: absolute;
    display: flex;
}

#brandIcon {
    width:50px;
    height: 50px;
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}

#brandIcon img {
    width:100%;
}

#brandBar p {
    color: white;
    cursor: pointer;
}


/* ========== Outer searchbox ========== */
#contentContainer {
    height: 100vh;
    width: 100%;
    background-color: rgba(32, 30, 30, 0.7);
    position:absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

#content {
    width: 65%;
    height: 50vh;
    background-color: white;
    border-radius: 24px;
    position: relative;
}

#textBox {
    width: 60%;
}

#instruction {
    width: 65%;
    text-align: center;
    color: rgba(255, 255, 255, 0.671);
    font-size: 2rem;
}

#closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    color: grey;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

#searchBox {
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ========== Map ========== */
#map {
    height: 100vh;
    background: black;
    z-index: -1;
}

/* zoom buttons */
.leaflet-top .leaflet-control {
    position: absolute;
    bottom: -95vh;
}

/* ========== Inner Search Box/Suggestions ========== */

#innerContainer {
    width: 100%;
    position: absolute;
}

#innerContentBox {
    width: 100%;
    /* min-height: 50px; */
    /* height: 100vh; */
    line-height:50px;
    display: flex;
    flex-wrap: wrap;
    position:absolute;
    top: 50px;
}

#innerTextBox {
    flex:1;
    border: none;
}

#navBtn {
    width: 50px;
    height: 50px;
    font-size: 1.3rem;
    text-align: center;
    background-color: #998DA0;
    color: white;
}

#innerSearchBtn {
    width: 50px;
    height: 50px;
    background-color: #998DA0;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

#suggestions {
    width: 100%;
    min-height: 0;
    background-color: white;
}

#suggestions ul{
    display: block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

#suggestions li {
    border: 1px black solid;
    padding-left: 20px;
}

input[type="text" i] {
    padding: 0px 20px;
}

/* ========== Toggle layers ========== */

/* old toggle layer to be deleted */
/* #toggleLayer {
    width: 100%;
    min-height: 0;
    background-color: rgb(216, 193, 164);
    display: flex;
    justify-content: space-around;
} */

/* new toggle layer */
#toggleLayerTest {
    width: 100%;
    height: 50px;
    /* background-color: rgb(56, 255, 6); */
    position: absolute;
    right:0px;
    top: 110px;
    border-radius: 24px;
}

#expandedToggle {
    min-width: 50px;
    height: 50px;
    background-color: rgb(255, 238, 0);
    border-radius: 24px;
    display: flex;
    line-height: 50px;
    /* transition: width 0.5s, height 0.5s; */
}

#toggleLayerBtn {
    width:50px;
    height:50px;
    background-color: red;
    position: absolute;
    right:0;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}

/* ========== Big Description Box ========== */
#descriptionBox {
    width: 100%;
    min-height: 0;
    line-height: 0.8;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    position:absolute;
    bottom: 0;
    font-size: 0.7rem;
    box-shadow: 0px 0px 10px #888888;
}

#descriptionBox h2 {
    font-size: 1.3rem;
    line-height: 1.5;
    margin-block-start: 0em;
    margin-block-end: 0.3em;
}

#descriptionBox p {
    line-height: 1.5;
}

.locationInfo {
    display: flex;
}

.icon {
    height: 40px;
    min-width: 20px;
    flex:1;
    line-height: 40px;
}

.details {
    height: 40px;
    flex: 19;
}



/* ############## TABLET DISPLAY ############## */

@media screen and (min-width:768px){
    
    /* ========== Inner Search Box/Suggestions ========== */
    #innerContentBox {
        width: 30%;
        top: 70px;
        left: 10px;
    }
    
    #navBtn {
        border-radius: 5px 0 0 5px;
    }
    
    #innerSearchBtn {
        border-radius: 0 5px 5px 0;
    }

    /* ========== Big Description Box ========== */
    #descriptionBox {
        width: 30%;
        height: 150px;
        position:absolute;
        bottom: 0;
        box-shadow: 0px 0px 10px #888888;
        left: 10px;
        top:130px;
        border-radius: 10px;
    }

}