/* ############## MOBILE DISPLAY ############## */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


/* main searchbox */
#contentContainer {
    height: 100vh;
    width: 100%;
    background-color: rgba(32, 30, 30, 0.7);
    position:absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

#content {
    width: 65%;
    height: 50vh;
    background-color: white;
    border-radius: 24px;
    position: relative;
}

#textBox {
    width: 60%;
}

#instruction {
    width: 65%;
    text-align: center;
    color: rgba(255, 255, 255, 0.671);
    font-size: 2rem;
}

#closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    color: grey;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

#searchBox {
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* map */
#map {
    height: 100vh;
    background: black;
    z-index: -1;
}

/* zoom buttons */
.leaflet-top .leaflet-control {
    position: absolute;
    bottom: -95vh;
}

/* inner content box */

#innerContainer {
    width: 100%;
    position: absolute;
}

#innerContentBox {
    width: 100%;
    /* min-height: 50px; */
    /* height: 100vh; */
    line-height:50px;
    display: flex;
    flex-wrap: wrap;
    position:relative;
}

#innerTextBox {
    flex:1;
    border: none;
}

#navBtn {
    width: 50px;
    height: 50px;
    font-size: 1.3rem;
    text-align: center;
    background-color: rgb(92, 83, 83);
    color: white;
}

#innerSearchBtn {
    width: 50px;
    height: 50px;
    background-color: rgb(92, 83, 83);
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

#suggestions {
    width: 100%;
    min-height: 0;
    background-color: white;
}

#suggestions ul{
    display: block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

#suggestions li {
    border: 1px black solid;
    padding-left: 20px;
}

#toggleLayer {
    width: 100%;
    min-height: 0;
    background-color: rgb(216, 193, 164);
    display: flex;
    justify-content: space-around;
}

#descriptionBox {
    width: 100%;
    min-height: 0;
    line-height: 0.8;
    padding: 10px 20px;
    background-color: rgba(255, 102, 0, 0.671);
    position:absolute;
    bottom: 0;
    font-size: 0.7rem;
}

#descriptionBox h2 {
    line-height: 1.5;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.hidden {
    display: none;
    transform: translateX(-110%);
}

.show {
    transform: translateX(0);
}


/* ############## TABLET DISPLAY ############## */

@media screen and (min-width:768px){
    
    #innerContentBox {
        width: 35%;
    }
    
    #navBtn {
        border-radius: 5px 0 0 5px;
    }
    
    #innerSearchBtn {
        border-radius: 0 5px 5px 0;
    }
}