/* ############## MOBILE DISPLAY ############## */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* main searchbox */
#contentContainer {
    height: 100vh;
    width: 100%;
    background-color: rgba(32, 30, 30, 0.7);
    position:absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

#content {
    width: 65%;
    height: 50vh;
    background-color: white;
    border-radius: 24px;
}

#textBox {
    width: 60%;
}

#instruction {
    width: 65%;
    text-align: center;
    color: rgba(255, 255, 255, 0.671);
    font-size: 2rem;
}

#searchBox {
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* map */
#map {
    height: 100vh;
    background: black;
    z-index: -1;
}

/* zoom buttons */
.leaflet-top .leaflet-control {
    position: absolute;
    bottom: -95vh;
}

/* inner content box */

#innerContainer {
    width: 100%;
    position: absolute;
}

#innerContentBox {
    margin: 15px auto;
    width: 85%;
    min-height: 50px;
    line-height:50px;
    /* background-color: rgb(32, 131, 134); */
    display: flex;
    flex-wrap: wrap;
}

#innerTextBox {
    flex:1;
}

#navBtn {
    width: 50px;
    height: 50px;
    font-size: 1.3rem;
    border-radius: 5px 0 0 5px;
    text-align: center;
    background-color: rgb(92, 83, 83);
    color: white;
}

#innerSearchBtn {
    width: 50px;
    height: 50px;
    background-color: rgb(92, 83, 83);
    text-align: center;
    font-size: 1.5rem;
    color: white;
    border-radius: 0 5px 5px 0;
}

#toggleLayer {
    width: 100%;
    height: 45px;
    background-color: gold;
    display: flex;
    justify-content: space-around;
}

#descriptionBox {
    width: 200px;
    min-height: 100px;
    padding: 20px;
    background-color: rgba(255, 208, 0, 0.671);

}

.hidden {
    transform: translateX(-110%);
}

.show {
    transform: translateX(0);
}

/* ############## TABLET DISPLAY ############## */
/* 
@media screen and (max-width:300px){
    #innerContentBox {
        width: 250px;
        min-height: 50px;
        line-height:50px;
        background-color: rgb(32, 131, 134);
        position: absolute;
        top: 20px;
        left: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    #innerSearchBtn {
        width: 250px;
        height: 50px;
        background-color: rgb(92, 83, 83);
    }
} */